*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradle/wrapper
gradlew
gradlew.bat
/app/build
/app/src/test
/app/src/androidTest
/app/pro-guard-rules.pro